/* Bendras stilius: */

* {
    box-sizing: border-box;
}

.pagr {
    color: yellowgreen;
    font-size: 50px;
}

.pasvyras {
    position: relative;
    color: white;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-bg {
    width: 100%;
    display: block;
    height: 400px;
}

.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 5, 5, 0.288);
}

.hero {
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 400px;
    background-image: url(https://images.saatchiart.com/saatchi/938588/art/3740711/2810595-RGNIUODV-7.jpg);
}

div.flexbo {
    display: flex;
    justify-content: space-between;
}

div.flexbo div {
    text-align: center;
    width: 46%;
    margin-bottom: 150px;
}

#search-input {
    width: auto;
}

.butt {
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

.brand-logo img {
    height: 64px;
    mix-blend-mode: multiply;
}
.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
 }
 
 .demo .large-header {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }
/* Dominykas stiliaus kodas: */

div.flexbo div img {
    border-radius: 50%;
}
p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 100% ;
  width: auto ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}




    

/* Audrius stiliaus kodas: */

.fonas {
    background-color: rgba(141, 144, 148, 0.164);
}

.spalva {
    color: black;
}

.myflex {
    display: flex;
    flex-wrap: wrap;
}
.naujasflex{
    align-items: flex-end;
}

div.row p.button input {
    background-color: white;
    height: 2rem;
    width: 50%;
}

/* Vardas1 stiliaus kodas: */
div.button input.button-style {
    background-color: white;
    height:  3rem;
    margin-bottom: 0;
    font-size: 18px;
    width: 70%;
}

.mygtukas
{
    vertical-align: bottom;
    height:  3rem; 
    width: 29%
    
}

/* Gintautas stiliaus kodas: */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9" "a10 a11 a12";
}

.a1 {
    grid-area: a1;
    align-self: end;
}

.a2 {
    grid-area: a2;
    align-self: end;
}

.a3 {
    grid-area: a3;
    align-self: end;
}

.a4 {
    grid-area: a4;
    align-self: start;
}

.a5 {
    grid-area: a5;
    align-self:start;
}

.a6 {
    grid-area: a6;
    align-self: start;
}

.a7 {
    grid-area: a7;
    align-self: start;
}

.a8 {
    grid-area: a8;
    align-self: start;
}

.a9 {
    grid-area: a9;
    align-self: start;
}
.a10 {
    grid-area: a10;
    align-self: start;
    

}

.a11 {
    grid-area: a11;
    align-self:start;
}

.a12 {
    grid-area: a12;
    align-self: start;
}

/* Vardas2 stiliaus kodas: */

/* Vardas3 stiliaus kodas: */

/* Vardas4 stiliaus kodas: */